<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<bean id="accountService" class="edu.mum.cs544.bank.service.AccountService">
		<property name="accountDAO" ref="accountDAO" />
		<property name="currencyConverter" ref="currencyConverter" />
		<property name="jmsSender" ref="jmsSender" />
		<property name="logger" ref="logger" />
	</bean>
	<bean id="accountDAO"  class="edu.mum.cs544.bank.dao.AccountDAO" />
	<bean id="currencyConverter"  class="edu.mum.cs544.bank.service.CurrencyConverter" />
	<bean id="jmsSender"  class="edu.mum.cs544.bank.jms.JMSSender" />
	<bean id="logger" class="edu.mum.cs544.bank.logging.Logger" />
	<bean id="daoLogAdvice" class="edu.mum.cs544.bank.service.aop.DAOLogAdvice" />
	<bean id="stopWatchAdvice" class="edu.mum.cs544.bank.service.aop.StopWatchAdvice" />
	<bean id="jmsLogAdvice" class="edu.mum.cs544.bank.service.aop.JMSLogAdvice" />
</beans>